body {
    background-color: lightblue;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
select {
    font-size: 16px;
}
h1 {
    font-size: 25px;
    text-align: center;
}
h2 {
    font-size: 20px;
    text-align: center;
    font-style: italic;
}